<nav>
  <div class="nav-wrapper">
    <ul class="left">
      <li><a [routerLink]="['/']"><i class="material-icons left">arrow_back</i>Suppliers</a></li>
    </ul>
  </div>
</nav>

<div class="content">
  <table class="bordered highlight responsive-table">
    <thead>
    <tr>
      <th>Dostawca</th>
      <th>Cena za dostawę</th>
      <th>Darmowa dostawa od</th>
    </tr>
    </thead>
    <tbody>

    <tr class="supplier-row link"
        *ngFor="let item of suppliersService.suppliers; let i = index"
        (click)="createOrder(item)">

      <td class="name-row">
        <span class="name">{{ item.name }}</span>
      </td>
      <td class="delivery-price">
        <span>{{ item.deliveryPrice }}</span>
      </td>
      <td class="free-delivery-price">
        <span>{{ item.freeDeliveryPrice }}</span>
      </td>

    </tr>

    </tbody>
  </table>
</div>
