<nav>
  <div class="nav-wrapper">
    <span class="brand-logo">Co jemy?</span>
  </div>
</nav>


<div class="content">
  <h1 class="title">Co jemy?</h1>

  <a class="waves-effect waves-light btn" [routerLink]="['/suppliers']">Suppliers</a>
</div>
